.skill {
  margin: .5rem;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row-reverse;
  padding: .3rem 1.5rem;
}

.skill > img {
  width: 40px;
  margin-right: 2rem;
}