.main-container {
  position: relative;
}

.main-container > header {
  position: fixed;
  width: 100%;
  z-index: 100;
}

.container {
  width: 1440px;
  max-width: 100%;
  margin: 0 auto;
  padding: 8rem 1rem 4rem;
}

.copy {
  text-align: center;
}