.main-navigation {
  margin-top: 2.25rem;
}

.nav-items {
  background-color: rgba(255, 255, 255, .20);
  backdrop-filter: blur(10px);
  list-style: none;
  display: flex;
  /* justify-content: flex-end; */
  border-top-left-radius:20px ;
  border-bottom-left-radius:20px ;
  margin-left: 25%;
  /* justify-content: space-between; */
  padding: 0 1.5rem;
  
}

.nav-link {
  font-family: "Sen",sans-serif;
  font-size: .875rem;
  color: var(--color-secondary);
  text-decoration: none;
  margin-left: 4rem;
  /* transition: .4s ease-in-out; */
}

.nav-link:hover,
.nav-link:active {
  font-weight: 700;
}