.main-navigation {
  position: relative;
  margin-top: 2.25rem;
  margin-left: 10%;
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  /* padding: 0 2rem 0 1rem; */
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  min-height: 3.75rem;
}

.nav-items {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: fit-content;
  height: 100%;

  margin: 0 auto;
}

.nav-link {
  font-family: "Sen", sans-serif;
  font-size: 0.875rem;
  color: var(--color-secondary);
  text-decoration: none;
  margin: 0 1rem;
  padding: 0;
  background-color: transparent;
  border: none;
  /* transition: .4s ease-in-out; */
}

.nav-link:hover,
.nav-link:active {
  font-weight: 700;
  color: var(--color-secondary);
}

.hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  height: 32px;
  cursor: pointer;
}

.bar {
  width: 50px;
  height: 3px;
  border-radius: 2px;
  background-color: var(--color-secondary);
  transition: 0.4s ease-in-out;
}

.hamburger:hover .bar {
  background-color: var(--color-tertiary);
}

@media (max-width: 768px) {
  .nav-items {
    position: absolute;
    display: none;
    border-bottom-left-radius: 20px;
    top: 4rem;
    right: 0rem;
    padding-bottom: 1rem;
    padding-right: 1rem;
  }

  .nav-items {
    /* background-color: rgba(255, 255, 255, 0.5); */
    border-bottom-left-radius: 20px;
    background-color: rgb(48, 48, 48,.8);
    height: fit-content;
  }

  .dropdown-enter {
    display: block;
    opacity: 0;
    transform: translateY(5rem);
  }
  
  .dropdown-enter-active {
    opacity: 1;
    transform: translateY(0);
    transition: .4s ease-in-out;
  }

  .dropdown-enter-done {
    display: block;
  }
  
  .dropdown-exit {
    opacity: 1;
    transform: translateY(0);
    display: block;
  }
  
  .dropdown-exit-active {
    transform: translateY(5rem);
    opacity: 0;
    transition: .4s ease-in-out;
  }
  
  .dropdown-exit-done {
    display: none;
  }

  .nav-link {
    margin:0;
  }
}
