.container > h2 {
  text-align: center;
}

.skills {
  list-style: none;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.skill {
  margin: .5rem;
}

.skill-content {
  display: flex;
  flex-direction: row-reverse;
  padding: .3rem 1.5rem;
}

.skill-content >img {
  width: 40px;
  margin-right: 2rem;
}