.container {
  position: relative;
  background-image: url("./about-me-blocks.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  min-height: 1024px;
  background-color: transparent;
}

.content {
  position: absolute;
  width: 50%;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding: 0 3rem;
}

.image-container {
  position: absolute;
  left: 0;
  width: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.image-container > img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

@media (max-width:900px) {
  .content,.image-container {
    position: static;
    text-align: center;
    width: 100%;
    transform: none;
  }
  .image-container {
    margin-top: 4rem;
    padding:3rem;
  }
}