@import url("https://fonts.googleapis.com/css2?family=Blinker&family=Darker+Grotesque&family=Josefin+Sans&family=Sen&display=swap");

:root {
  --color-primary: black;
  --color-secondary: white;
  --color-tertiary: #26bace;
  --color-tertiary-light: hsl(187, 69%, 70%);
}

body {
  margin: 0;
  background-color: var(--color-primary);
  color: var(--color-secondary);
  font-size: 18px;
  font-family: "Blinker", sans-serif;
  letter-spacing: 1.5px;
  word-spacing: 1.5px;
}

* {
  box-sizing: border-box;
}

h2 {
  font-size: 36px;
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
  text-align: center;
}

a {
  color: var(--color-tertiary);
  text-decoration: none;
}

a:hover,
a:active {
  color: var(--color-tertiary-light);
}

svg {
  fill: var(--color-secondary);
}