.btn {
  background-color: transparent;
  color: var(--color-secondary);
  border: 2px solid var(--color-secondary);
  border-radius: 10px;
  padding: .525rem 2rem;
  transition: .4s ease-in-out;
}

.btn:hover, .btn:active {
  background-color: var(--color-secondary);
  color: var(--color-primary);
}