.form-control {
  display: flex;
  flex-direction: column;
}

.form-actions,
.form-control {
  margin-top: 1rem;
}

.form-control > input,
.form-control > textarea,
.form-control > select {
  margin-top: 0.5rem;
  border-radius: 4px;
  border: 2px solid var(--color-secondary);
  background-color: transparent;
  padding: 0.2rem;
  color: var(--color-secondary);
}

.form-control > textarea {
  resize: none;
}
